[submodule "routinelyUse"]
	path = routinelyUse
	url = https://github.com/mikenewgit01/routinelyUse.git
[submodule "cloc"]
	path = cloc
	url = https://github.com/AlDanial/cloc.git
[submodule "Aerial_Desktop"]
	path = Aerial_Desktop
	url = https://github.com/MichaelDimmitt/Aerial_Desktop.git
